* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    background-color: hsl(221, 100%, 96%);
    font-family: 'Hanken Grotesk';
}

.inner-container{
    display: grid;
    max-width: 30rem;
    --border-radius: 2rem;
    background: hsl(0, 0%, 100%);
}


@media screen and (min-width:600px){
    .inner-container{
        grid-template-columns: 1fr 1fr;
        margin-inline: 1rem;
        overflow: hidden;
        border-radius: var(--border-radius);
    }
}

.left-col {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: linear-gradient(to bottom,
            hsl(252, 100%, 67%),
            hsl(241, 81%, 54%));
}

@media screen and (min-width:600px){
    .left-col{
        border-radius: var(--border-radius);
    }
}

.l-header {
    color: hsl(241, 100%, 89%);
    font-size: 1.3rem;
    font-weight: 600;
}

.l-header,.r-header{
    padding: 1.5rem;
}

.score-declaration {
    border-radius: 50%;
    width: 10rem;
    display: grid;
    aspect-ratio: 1/1;
    margin-inline: auto;
    line-height: 1;
    place-content: center;
    background: linear-gradient(to bottom,
            hsla(256, 72%, 46%, 1),
            hsla(241, 72%, 46%, 0));
}

.score-declaration p {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.score-declaration h5 {
    margin: 0;
    color: hsl(241, 100%, 89%);
}

section {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.comment p {
    font-size: 0.8rem;
    font-weight: 200;
    text-align: center;
    padding: 30px;
    color: hsl(0, 0%, 100%);
}

.right-col {
    padding-inline: 1rem;
}

.r-header {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 0;
}

.score-details {
    display: grid;
    row-gap: 18px;
}

.subject1 {
    display: flex;
    gap: 1rem;
    padding: 5px;
    justify-content: space-between;
    background-color: hsl(240, 17%, 95%);
    color: hsl(0, 100%, 67%);
    border-radius: .5em;
}

.subject2 {
    display: flex;
    gap: 1rem;
    padding: 5px;
    justify-content: space-between;
    background-color: hsl(38, 65%, 93%);
    color: hsl(39, 100%, 56%);
    border-radius: 0.5em;
}

.subject3 {
    display: flex;
    gap: 1rem;
    padding: 5px;
    justify-content: space-between;
    background-color: hsl(168, 47%, 90%);
    color: hsl(166, 100%, 37%);
    border-radius: 0.5em;
}

.subject4 {
    display: flex;
    gap: 1rem;
    padding: 5px;
    justify-content: space-between;
    background-color: hsl(235, 19%, 88%);
    color: hsl(234, 85%, 45%);
    border-radius: 0.5em;
}

svg{
    float:left;
}

p.icon {
    margin: 0;
}

.score {
    color: black;
    text-align: flex-end;
    margin-right: 10px;
}

.score p {
    color: gray;
    margin: 0;
    line-height: 0;
    display: inline;
}

.btn a {
    text-decoration: none;
    display: grid;
    text-align: center;
    justify-content: center;
    background-color: hsl(224, 30%, 27%);
    border-radius: 50rem;
    font-size: 1.2rem;
    line-height: 50px;
    margin-top: 40px;
    font-weight: 400;
    color: white;
}

.btn a:hover {
    background: linear-gradient(to bottom,
            hsl(252, 100%, 67%),
            hsl(241, 81%, 54%));
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width:600px){
    body{
        min-height: 100vh;
        display: grid;
        place-items: center;
    }

}